global
    stats socket *:9999 level admin

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats auth admin:admin

frontend web
    bind *:80
    default_backend servers

backend servers
    server server1 1.1.1.1:80 check
    server server2 8.8.8.8:80 check
    server server3 1.0.1.1:80 check
    server server4 8.8.4.4:80 check
    server server5 1.1.1.2:80 check
